body {
  font-family: Helvetica;
}

header h1 {
  font-size: 100px;
  font-weight: bold;
  color: red;
  text-align: center
}

header {
  background: url(../images/pattern.jpeg);
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

.price {
  font-weight: bold;
  color: blue;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
